[flake8]
extend-ignore =
    B007
    B008
    B010
    B028
    B601
    C403
    C405
    C408
    C416
    C417
    C419
    E203
    E731
    W391
    W605
exclude=build,notebooks,protobuf,logs,wandb,data,figures
max-line-length = 88

# ignore unused imports in __init__.py files
per-file-ignores =
    __init__.py:F401
